<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>674336596318-biebui7smmf27c797v044nh648l5cjp5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.674336596318-biebui7smmf27c797v044nh648l5cjp5</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>674336596318-68aaokfonvn2bijp6bl0b5lpjrb2trfc.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAq6eaqcmZS8IhgMMZoNxJfpZS62MVbB2E</string>
	<key>GCM_SENDER_ID</key>
	<string>674336596318</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.connevents.apps</string>
	<key>PROJECT_ID</key>
	<string>connevents-d9973</string>
	<key>STORAGE_BUCKET</key>
	<string>connevents-d9973.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:674336596318:ios:bf52484a44593bcdf46fcf</string>
</dict>
</plist>